.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
}

.footer .mail {
  position: relative;
}

.footer .mail::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 0px;
}

.footer-contato .mail::before {
  background: url("../img/mail.svg") no-repeat center center;
}

.footer .whatsapp {
  position: relative;
}

.footer .whatsapp::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 0px;
}

.footer-contato .whatsapp::before {
  background: url("../img/whatsapp.svg") no-repeat center center;
}

.footer .instagram {
  position: relative;
}

.footer .instagram::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 0px;
}

.footer-contato .instagram::before {
  background: url("../img/instagram.svg") no-repeat center center;
}

.footer .linkedin {
  position: relative;
}

.footer .linkedin::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 0px;
}

.footer-contato .linkedin::before {
  background: url("../img/linkedin.svg") no-repeat center center;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    margin-left: 40px;
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .footer-contato li {
    font-size: 1.3rem;
  }
}
